.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: brown;
    box-shadow: aqua;
    user-select: none;
    transition: bottom 0.4s;
    height: 100px;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys